@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
html {
  background-color: #99e4ff;
}
.emptycell {
  clear: both;
  height: 10px;
}
#mainpic {
  display: block;
  position: inherit;
  height: 100px;
  width: 100px;
  margin: auto;
  border: 2px solid #DEDEDE;
  border-radius: 60px;
}
#roles {
  display: block;
  position: relative;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  background-color: white;
}
#top {
  position: relative;
  display: block;
  background-color: white;
  width: 100%;
  height: 150px;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 1px 3px 15px #cfd4d9;
}
#picDiv {
  padding: 10px;
  background-color: white;
}
div h1 {
  display: block;
  font-size: 35px;
  margin: auto;
  text-align: center;
  background-color: white;
}
div h5 {
  margin-top: 5px;
}

#box1 {
    position: relative;
    background-color: green;
    text-align: center;
    display: inline;
    width: auto;
    margin-top: 55px;
    font-size: 28px;
    list-style-type: none;
}
    #box2 {
      position: relative;
      /*background-color: blue;*/
      box-sizing: border-box;
      display: block;
      margin-top: 10px;
      padding-right: 10px;
      font-size: 16px;
      overflow: hidden;
      margin-bottom: 45px;
      text-align: justify;
      font-size: 15px;
    }

ul li a {
  list-style-type: none;
}
div div ul li a {

  text-decoration: none;
  font-weight: 900;
}
div ul li a:link {
  color: black;
}
div ul li a:visited {
  color: black;
  text-decoration: none;
}
div ul li a:hover {
  color: #99e4ff;

}
#ipsum {
  float: left;
}
div p span {
  font-size: 25px;
}
#workicon {
  width: 8%;
}
#timelinetitle {
  display: block;
  margin-left: 95px;
  margin-top: -28px;
  padding-bottom: 5px;
  font-size: 19px;
}
.worktitle {
  display: block;
}
.date, .jobtype {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 800;
  font-style: normal;
  color: black;
}
.timeline ul li {
  box-sizing: border-box;
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: black;
}
.timeline ul li::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}
.timeline ul li div {
  box-sizing: border-box;
  box-shadow: 5px 5px 5px #E0E0E0;
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 8px;
  background: #99e4ff;
}
.timeline ul li div::before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  box-sizing: border-box;
  left: 45px;
}
.timeline ul li:nth-child(odd) div::before {
  box-sizing: border-box;
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #99e4ff transparent transparent;
}
.timeline ul li:nth-child(even) div {
  box-sizing: border-box;
  left: -339px;
}

.timeline ul li:nth-child(even) div::before {
  box-sizing: border-box;
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #99e4ff;
}
.timeline {
  box-sizing: border-box;
  display: block;
}
.timeline ul li::after {
  box-sizing: border-box;
  background: black;
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  box-sizing: border-box;
  background: #99e4ff;
}

.timeline ul li div {
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  box-sizing: border-box;
  transform: translate3d(200px,0,0);
}

.timeline ul li:nth-child(even) div {
  box-sizing: border-box;
  transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view div {
  box-sizing: border-box;
  width: 250px;
  transform: none;
  visibility: visible;
  opacity: 1;
}
#project_container {
  padding: 5px;
  display: inline-block;
  position: relative;
  color: black;
  padding-bottom: 10px;
  background-color: white;
}
.project {
  display: -webkit-inline-box;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.preview {
  margin-left: 20px;
  height: 551px;
  width: 300px;
  box-shadow: 5px 5px 5px #D8D8D8;

}
.preview:hover {
  opacity: 0.5;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

div div a p {
  font-size: 14px;
  color: black;
  text-decoration: none;
  padding-top: 10px;
}
div a p:hover {
  color: #99e4ff;
  font-style: italic;
  text-decoration: none;
}
div a:visited {
  color: #99e4ff;
  text-decoration: none;
}
.footer {
  font-family: sans-serif !important;
  color: white;
  position: relative;
  display: block;
  background-color: black;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}
a:hover{
  text-decoration: none!important;
}


/*scripts which are only particular for the javascript timeline*/
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}
@media screen and (max-width: 600px) {

  .timeline ul li {
    margin-left: 20px;
    margin-top: 10px;
  }

  .timeline ul li div {
    width: calc(100vw - 81px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #99e4ff transparent transparent;
  }
}
 ul.Mylinks {
  margin-top: -37px;

}

time {
  font-size: 18px;
}


.project_1 {
  box-shadow: 5px 5px 5px #D8D8D8;

}

img#bootstrap_logo {
  border-radius: 20%;
}

.empty.cell {
  opacity: 0.4;
  position: absolute;
  margin-top: 593px;

  display: block;
  height: 80px;
  width: 100%;
}

@media only screen and (max-width: 991px) and (min-width: 381px)  {
  div.empty.cell {
  }
}

.container {
  padding: 5%;
}
// screen 1
@media only screen and (min-width: 320px) and (max-width: 409px) {
  #workicon {
    margin-top: 255%;
    margin-bottom: 3%;
  }
  .timeline ul li.in-view div {
    width: 200px;
  }
  .preview {
    margin-left: -9%;
  }
}
// screen 2
@media only screen and (max-width: 411px) and (min-width: 350px)  {
  #workicon {
    margin-top: 205%;
  }
// screen 3
}
@media only screen and (max-width: 600px) and (min-width: 412px)  {
  #workicon {
    margin-top: 165%;
    margin-bottom: 2%;
  }

}
// screen 4

@media only screen and (max-width: 1300px) and (min-width: 415px)  {
  #workicon {
    margin-top: 45%;
    margin-bottom: 2%;
    margin-left: 33%;
    width: 4%;
  }
  .container {
    width: auto;
  }
  #timelinetitle {
    margin-top: -4%;
    margin-left: 40%;
  }
  .timeline ul li.in-view div {
    width: 350px;
  }
  .timeline ul li:nth-child(even) div {
    left: -390px
  }
  .project {
    margin-left: 10%;
  }
}
