*{
  margin: 0;
  padding: 0;
}
body {
  background: #f0ffed; /* Old browsers */
  background: -moz-linear-gradient(top, #f0ffed 0%, #ffffff 45%, #e5feff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f0ffed 0%,#ffffff 45%,#e5feff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f0ffed 0%,#ffffff 45%,#e5feff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ffed', endColorstr='#e5feff',GradientType=0 ); /* IE6-9 */
  copy
}
.container {
  display: block;
  margin: auto;
}
.mainpic {
  display: block;
  position: relative;
  height: 150px;
  width: 150px;
  margin: 10% 40% 10% 70%;
  border: 2px solid #DEDEDE;
  border-radius: 60%;
  opacity: 0.8;
}
.roles {
  font-family: 'Quicksand', sans-serif;
  display: block;
  position: relative;
  text-align: left;
  font-size: 30px;
  font-weight: 200;
  margin: -4% -108% 10% 33%;
}
.bio {
  font-size: 15px;
  text-align: left;
  line-height: 185%;
  word-wrap: break-word;
  width: 430px;
  margin: 10% 10% 0% 40%;
}
span {
  font-family: 'Jura', sans-serif;
  font-size: 30px;
}
.links {
  font-family: 'Prompt', sans-serif;
  margin: 5% 0% -13% 80%;
  text-align: left;
}
ul.Mylinks li a {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

ul.Mylinks li a:visited {
  color: black;
  text-decoration: none;
}

ul.Mylinks li a:hover {
  color: #b6e5fb;
}

.work-history-title {
  display: inline-flex;
  margin-top: -18px;
  font-family: 'Quicksand', sans-serif;
}
.workicon {
  margin-top: 20%;
  margin-left: 24%;
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}
h3.timelinetitle {
  display: inline-block;
  margin-top: 22%;
  margin-bottom: auto;
  margin-left: 1%;
  margin-right: -30%;
  font-size: 25px;
  text-align: center;
  width: 340px;
}

/*timeline css stuff*/
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 3px;
  margin: 0 33%;
  padding-top: 20px;
  background: black;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  font-family: 'Jura', sans-serif;
  position: relative;
  bottom: 0;
  width: 420px;
  padding: 15px;
  background: #b6e5fb;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #b6e5fb transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: 45px;
}

.timeline ul li:nth-child(even) div::before {
  right: 432px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #b6e5fb;
}

.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #b6e5fb;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

div.multiple-items a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

div.multiple-items a:visited {
  color: black;
}

img.language {
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
}

div.slideShowContainer {
  display: flex;
  flex-wrap: wrap;
}

img.preview {
  height: 300px;
  width: 300px;
}

.multiple-items {
  margin-top: 15%;
  margin-bottom: 5%;
  margin-left:50%;
}

P {
  font-family: 'Jura', sans-serif;
}

#footer {
  font-size: 20px;
  text-align: center;
  color: white;
  height: 50px;
  margin-top: -50px;
  background-color: black;
  width: max-content;
  min-width: fit-content;
  padding: 4% 46%;
  margin-top: 15px;
}

@media screen and (min-width: 430px) {
  .roles {
    margin: -4% -108% 10% 46%;
  }

  .bio{
    margin: 10% 10% 0% 13%;
    width: 750px;
  }
  .Mylinks {
    display: inline-flex;
    margin: 0 0 20% -330%;
  }
  .Mylinks li {
    margin-right: 3%;
  }
  .workicon {
    margin-top: 25%;
    margin-left: 13%;
  }

  h3.timelinetitle {
    margin-top: 28%;
  }

  section#jobhist.timeline ul li.in-view div{
    width:700px;
  }

  .timeline ul li {
    margin: 0 15%;
  }

  .multiple-items {
    margin-left: 25%;
  }

  div.slideShowContainer {
    display: block;
    margin-left: 28%;
  }

  img.preview {
    height: 500px;
    width: 500px;
  }
  img.language {
    display: inline-block;
    margin: 10% -54% auto 56%;
  }

  p.projectname {
    font-size: 35px;
    margin-top: 5px;
    margin-left: 13%;
    width: 450px;
    font-weight: bold;
  }

}


@media screen and (min-width: 768px) {

  div.container {
    margin: 0% 22%;
  }

  section#jobhist.timeline ul li.in-view div{
    width:900px;
  }

  .workicon {
    margin-left: 27%;
  }

  .timeline ul li {
    margin: 0 15%;
  }

  p.projectname {
    margin-left: 5%;
  }

  img.language {
    margin: 10% -15% auto 23%;
  }
}

@media screen and (min-width: 1025px) {
  .mainpic {
    height: 100px;
    width: 100px;
    margin: 10% 40% 10% 40%;
  }

  .roles {
    margin: -8% -108% 10% 25%;
  }

  .bio {
    margin: -8% 10% 0% 13%
  }

  .work-history-title {
    margin: 5% 0% 5% 23%;
  }

  .timeline ul li {
    margin: 0 30%;
  }

  section#jobhist.timeline ul li.in-view div {
    padding: 20px;
  }

  div.slideShowContainer {
    margin-left: 10%;
    margin-top: -9%;
  }

  img.language {
    margin: 0% 1% -5% 4%;
  }

  #footer {
    padding: 1% 38%;
  }
}

/*@media screen and (max-width: 900px) { {
}
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: 0px;
    /*250+45-6*/
  }
}

/*@media only screen and (max-width: 600px) {
  #jobhist.timeline ul li {
    margin: 0% 10%;
  }
  .timeline ul li div {
    width: calc(110vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #b6e5fb transparent transparent;
  }
}*/
