html {
	margin:0;
	padding: 0;;
	min-width: 100%;
	min-height: 100%;
	background: url('MediaManagerPro/sunset_gradient_by_staticwaves-d4fg2cr.png');
	background-size: cover;
	background-repeat: no-repeat;
}
body {
	min-height: 100%;
	min-width: 100%;
}
.header {
	display: block;
	width: 100%;
	padding: 5px;
	margin-top: -5px;
	margin-left: -10px;
	text-align: center;
	background-color: black;
	color: white;
	font-family: 'Julius Sans One', sans-serif;
}
#secondImage {
	z-index: -1;
	postion: relative;
	min-height: 100%
	padding: 0px;
	width: 100%;
	opacity: .1;
	background-size: cover;
	background-repeat: no-repeat;
}
#openjobs {
	background-color: white;
	position: relative;
	float: left;
	display: block;
	border: .5px solid #f2f2f2;
	padding:80px;
	border-radius: 30%;
	text-decoration: none;
	opacity: .75;
	background: url("MediaManagerPro/Open Jobs Icon.png") no-repeat center;
	background-size: 80%;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 5px;
}

#OJ {
	/*z-index: -999;
	height: 70px;
	width: 110px;*/
}
#shipcalendar {
	background-color: white;
	position: relative;
	float: left;
	display: block;
	border: .5px solid #f2f2f2;
	padding:70px;
	border-radius: 30%;
	text-decoration: none;
	opacity: .75;
	background: url("MediaManagerPro/calendar.png") no-repeat center;
	background-size: 60%;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 5px;
	position: relative;
	text-align: center;
	font-size: 30px;
	font-family: 'Julius Sans One', sans-serif;
}
#todo {
	background-color: white;
	position: relative;
	float: left;
	display: block;
	border: .5px solid #f2f2f2;
	padding:70px;
	border-radius: 30%;
	text-decoration: none;
	opacity: .75;
	background: url("MediaManagerPro/todo.png") no-repeat center;
	background-size: 60%;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 5px;
	position: relative;
	text-align: center;
	font-size: 30px;
	font-family: 'Julius Sans One', sans-serif;
}
a {
	z-index: 999;
}
#supplierorders {
	background-color: white;
	position: relative;
	float: left;
	display: block;
	border: .5px solid #f2f2f2;
	padding:70px;
	border-radius: 30%;
	text-decoration: none;
	opacity: .75;
	background: url("MediaManagerPro/Supplier Orders.jpg") no-repeat center;
	background-size: 160%;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 5px;
	position: relative;
	text-align: center;
	font-size: 40px;
	font-family: 'Julius Sans One', sans-serif;
}
#technicians {
	background-color: white;
	position: relative;
	float: left;
	display: block;
	border: .5px solid #f2f2f2;
	padding:40px;
	border-radius: 30%;
	text-decoration: none;
	opacity: .75;
	background: url("MediaManagerPro/tech.jpg") no-repeat center;
	background-size: 100%;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 5px;
	position: relative;
	text-align: center;
	font-size: 40px;
	font-family: 'Julius Sans One', sans-serif;
	margin-bottom: 50px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
		color: #black;
}
a:hover {
	color: darkblue;
	font-weight: 900;
	font-size: 30px;
}
#ojTitle {
	position: relative;
	text-align: center;
	font-size: 40px;
	font-family: 'Julius Sans One', sans-serif;
}
#container {
	padding: 10px;
	margin: 0 auto;
}
@media (min-width: 700px) {
	#openjobs {
		display: block;
		margin: 0 auto;
		width 100%;
		border: none;
		margin-left: 140px;
		padding: auto 40px
	}
	#shipcalendar {
		display: block;
		margin: 0 auto;
		width:100%;
		border: none;
		margin-left: -80px;
		background-size: 30%
	}
	#todo{
		display: block;
		margin: 0 auto 50px auto;
		width:100%;
		border: none;
		padding: 100px 10px;
		background-size: 35%

	}
	#supplierorders {
		display: block;
		background-size: 110%;
		padding: 60px 20px;
		margin-top: -40px;
		margin-left: 130px;
		margin-bottom: 40px;
		border: none;
	}
	#technicians {
		display: block;
		margin-left: 140px;
		width: 50%;
		height: 30%
		background-size: 80%;
		font-size: 40px;
		border: none;
	}
	@media (min-width: 1024px) {
		#openjobs {
			float: left;
			display: inline-table;
			margin-left: 100px;
			font-size: 30px;

		}
		#shipcalendar {
			float: left;
			display: inline-table;
			position: absolute;
			margin-left: -560px;
			margin-top: -15px;
			background-size: 15%;
			font-size: 30px;
		}
		#todo{
			float: left;
			display: inline-table;
			position: absolute;
			margin-left: -180px;
			margin-top: -45px;
			background-size: 13%;
			font-size: 30px;
		}
		#supplierorders {
			float: left;
			display: inline-table;
			position: absolute;
			width: 25%;
			margin-left: -350px;
			margin-top: 250px;
			border-radius: 30%;
		}
		#technicians {
			float: left;
			display: inline-table;
			position: absolute;
			font-size: 30px;
			margin-left: 290px;
			margin-top: 290px;
			width:15%;
		}
		.footer {
		  font-family: 'Julius Sans One', sans-serif;
		  color: white;
		  position: absolute;
		  display: block;
		  width: 100%;
		  background-color: black;
		  text-align: center;
		  font-weight: bold;
		  font-size: 15px;
			margin-top: 530px;
			margin-left: -10px;
		  padding: 10px;
		}
